
/* Fonts */

.chango-regular {
	font-family: "Chango", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.concert-one-regular {
	font-family: "Concert One", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.copse-regular {
	font-family: "Copse", serif;
	font-weight: 400;
	font-style: normal;
}

/* THUMBNAILS */

/* 1. Thumbnail Styling */
.thumbnail {
    width: 300px;
    cursor: pointer;
    border: 5px solid transparent; /* Prevents jumping when border appears */
    border-radius: 20px;
    transition: border-color 0.2s;
}

/* 2. Border on hover */
.thumbnail:hover {
    border-color: red;
}

/* 3. Full-screen overlay (hidden by default) */
#overlay {
    display: none; 
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.9); /* Dark background */
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

#overlay img {
    max-width: 90%;
    max-height: 90%;
}

/* Classes */

.caption {
	font-family: "Concert One";
	font-weight: 400;
	font-size: 16pt;
	color: white;
	margin-left: 80px;
}

.category {
	font-family: "Chango";
	font-weight: 400;
	font-size: 36pt;
	color: white;
	background-color: black;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 40px;
	border-radius: 10px;
}

.copyright-notice {
	font-family: "Concert One";
	color: white;
	font-size: 16pt;
	margin-left: 40px;
}

.highlight {
	color: #c2ffc9;
}

.main-logo {
	font-family: "Chango";
	font-weight: 400;
	font-size: 48pt;
	color: white;
	background-color: black;
	padding: 10px 20px;
	border-radius: 10px;
	margin: 0px;
}

.prompt {
	font-family: "Concert One";
	color: white;
	font-size: 16pt;
	margin-left: 80px;
}

.shift-up {
	position: relative;
	top: -20px;
}

body {
	background: #999999;
}

a {
	color: yellow;
	text-decoration: none;
}



